

#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

# Spatial-awareness
Spatial-awareness/vendor/
Spatial-awareness/data/
Spatial-awareness/video/
Spatial-awareness/.env
Spatial-awareness/__pycache__/
Spatial-awareness/**/__pycache__/
Spatial-awareness/**/*.pyc
